body {
    font-family: sans-serif;
    margin: auto;
    position: relative;
    hyphens: auto;
}
.tab-content {
    margin-top: 90px;
}
h1, h2 {
    font-family: monospace !important;
    font-weight: bold !important;
    letter-spacing: -1px !important;
    color: #007a2c !important;
}
h1 {
    font-size: 3rem !important;
}
h2 {
    font-size: 2rem !important;
    margin-top: 0.75rem !important;
}

/*box around testimomial quotes*/
.box {
    border: 2px solid #ddd;
    padding: 16px 0px;
}

/*headshot image borders and sizing*/
.headshot {
    border: 2px solid black;
}
.headshot img {
    width: 100%;
}
.mini-shot-left {
    margin-left: 1rem;
}
.mini-shot-left .headshot {
    width: 3rem;
    float: left;
}
.mini-shot-left .text-muted {
    padding-left: 4rem;
}
.mini-shot-right {
    margin-right: 1rem;
    float: right;
}
.mini-shot-right .headshot {
    width: 3rem;
    float: right;
}
.mini-shot-right .text-muted {
    padding-right: 4rem;
}

/*large background icons*/
.starting-quote {
    color: #e8e8e8;
    font-size: 72px;
    position: absolute !important;
    top: -25px;
    left: 15px;
    z-index: -1;
}
.ending-quote {
    color: #e8e8e8;
    font-size: 72px;
    position: absolute !important;
    bottom: 4px;
    right: 8px;
    z-index: -1;
}
.ending-quote-small {
    color: #e8e8e8;
    font-size: 72px;
    position: absolute !important;
    bottom: -27px;
    right: 8px;
    z-index: -1;
}
.love-quote {
    color: #eee;
    font-size: 200px;
    position: absolute !important;
    top: -53px;
    left: 8px;
    z-index: -1;
}

/*a tags green instead of blue*/
a {
    color: #009345 !important;
}
a:hover {
    color: #007325 !important;
}

/*navbar colors and spacing*/
a.nav-link {
    color: #1aad5f !important;
}
a.nav-link.not-btn:hover {
    color: #009345 !important;
}
a.nav-link.not-btn.active:hover {
    color: #ddd !important;
}
.navbar-brand a {
    color: white !important;
}
.navbar-brand a:hover {
    color: white !important;
    text-decoration: none !important;
}
.nav-pills .not-btn.active {
    color: #ddd !important;
    background-color: transparent !important;
}
.nav-pills .nav-link {
    padding: 0.5rem;
}
.navbar-brand {
    font-family: monospace !important;
    font-weight: bold !important;
    letter-spacing: -1px !important;
    font-size: 1.5rem !important;
}

/*navbar hamburger menu spacing and outline color*/
button.navbar-toggler:focus {
    outline-color: #009345;
}
.navbar-collapse.show,
.navbar-collapse.collapsing {
    margin-top: 5px;
}

/*btn-primary green instead of blue*/
.btn-primary {
    color: white !important;
    background-color: #009345 !important;
    border-color: #009345 !important;
}
.btn-primary:hover {
    color: white !important;
    background-color: #008032 !important;
    border-color: #007a2c !important;
}
.btn-primary:active,
.btn-primary.active {
    color: white !important;
    background-color: #007a2c !important;
    border-color: #007325 !important;
}
.btn-primary:focus,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,147,69,.5) !important;
}
.btn-outline-primary {
    color: #009345 !important;
    border-color: #009345 !important;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary.active {
    color: white !important;
    background-color: #009345 !important;
    border-color: #009345 !important;
}

/*line up the dumb name on resume*/
.extra-align {
    margin-bottom: -6px;
}
